<template>
<tr>
  <!-- <td>{{ predmet.brojPredmeta }}</td>
  <td>{{ predmet.pocetniDatum }}</td>
  <td>{{ predmet.zavrsniDatum }}</td>
  <td>{{ predmet.nasaStranka }}</td>
  <td>{{ predmet.drugaStranka }}</td>
  <td>{{ predmet.vrstaPredmeta }}</td>
  <td><i class="far fa-edit"></i></td>
  <td><i class="fas fa-trash-alt"></i></td> -->


</tr>
</template>

<script>

export default {
  name: 'add-predmet',
  props: {
    predmet: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  data () {
    return {

    }

  },
}
</script>

<style lang="scss" scoped>
    label {
        text-align: left;
    }
    #addPredmet {
      margin-top: 60px;
    }
    h1 {
      font-size: 30px;
    }
    td {
      text-align: center;
    }

</style>
