<template>
<div>
      <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button v-on:click="closeModal(e)" class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
          </footer>
      </div>
</div>
</template>

<script>

export default {
  name: 'modal',
  data () {
    return {

    }
  },
  methods: {
    closeModal(e) {
      console.log('close modal')
    }
  }
}
</script>

<style lang="scss" scoped>


</style>
