<template>
    <div id="blog">
        <div class="container">
             <!-- Title Section -->
            <div class="row justify-content-center">
                <div class="col-12">
                  <div class="section-title">
                        <h3>FROM THE BLOG</h3>
                        <div class="section-icon">
                            <i class="far fa-dot-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
            <carousel :perPage=3 :autoplayHoverPause='true' :autoplay='true' :autoplayTimeout='5000' :navigationEnabled='true' :scrollPerPage='false' :paginationEnabled='false'>
                <slide>
                    <div class="card">
                        <a href="#">
                            <div class="card-head">
                                <figure>
                                    <img src="https://images.pexels.com/photos/707196/pexels-photo-707196.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Shoe" class="product-img">
                                </figure>
                            </div>
                            <div class="card-body">
                              <div class="product-desc">
                                <div class="product-title">75 of Ralph Laurenӳ:</div>
                                <div class="product-date"><i class="far fa-clock"></i> 05.06.2019.</div>
                                <div class="product-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, necessitatibus!</div>
                              </div><!-- End product-desc -->
                            </div><!-- End Card Body -->
                        </a>
                    </div><!-- End Card --> 
                </slide>

                <slide>
                    <div class="card">
                        <a href="#">
                            <div class="card-head">
                                <figure>
                                    <img src="https://images.pexels.com/photos/1350789/pexels-photo-1350789.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Shoe" class="product-img">
                                </figure>
                            </div>
                            <div class="card-body">
                              <div class="product-desc">
                                <div class="product-title">75 of Ralph Laurenӳ:</div>
                                <div class="product-date"><i class="far fa-clock"></i> 05.06.2019.</div>
                                <div class="product-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, necessitatibus!</div>
                              </div><!-- End product-desc -->
                            </div><!-- End Card Body -->
                        </a>
                    </div><!-- End Card --> 
                </slide>

                <slide>
                    <div class="card">
                        <a href="#">
                            <div class="card-head">
                                <figure>
                                    <img src="https://images.pexels.com/photos/260689/pexels-photo-260689.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Shoe" class="product-img">
                                </figure>
                            </div>
                            <div class="card-body">
                              <div class="product-desc">
                                <div class="product-title">75 of Ralph Laurenӳ:</div>
                                <div class="product-date"><i class="far fa-clock"></i> 05.06.2019.</div>
                                <div class="product-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, necessitatibus!</div>
                              </div><!-- End product-desc -->
                            </div><!-- End Card Body -->
                        </a>
                    </div><!-- End Card --> 
                </slide>

                <slide>
                    <div class="card">
                        <a href="#">
                            <div class="card-head">
                                <figure>
                                    <img src="https://images.pexels.com/photos/707196/pexels-photo-707196.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Shoe" class="product-img">
                                </figure>
                            </div>
                            <div class="card-body">
                              <div class="product-desc">
                                <div class="product-title">75 of Ralph Laurenӳ:</div>
                                <div class="product-date"><i class="far fa-clock"></i> 05.06.2019.</div>
                                <div class="product-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, necessitatibus!</div>
                              </div><!-- End product-desc -->
                            </div><!-- End Card Body -->
                        </a>
                    </div><!-- End Card --> 
                </slide>

                <slide>
                    <div class="card">
                        <a href="#">
                            <div class="card-head">
                                <figure>
                                    <img src="https://images.pexels.com/photos/879010/pexels-photo-879010.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Shoe" class="product-img">
                                </figure>
                            </div>
                            <div class="card-body">
                              <div class="product-desc">
                                <div class="product-title">75 of Ralph Laurenӳ:</div>
                                <div class="product-date"><i class="far fa-clock"></i> 05.06.2019.</div>
                                <div class="product-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, necessitatibus!</div>
                              </div><!-- End product-desc -->
                            </div><!-- End Card Body -->
                        </a>
                    </div><!-- End Card --> 
                </slide>

                <slide>
                    <div class="card">
                        <a href="#">
                            <div class="card-head">
                                <figure>
                                    <img src="https://images.pexels.com/photos/373530/pexels-photo-373530.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Shoe" class="product-img">
                                </figure>
                            </div>
                            <div class="card-body">
                              <div class="product-desc">
                                <div class="product-title">75 of Ralph Laurenӳ:</div>
                                <div class="product-date"><i class="far fa-clock"></i> 05.06.2019.</div>
                                <div class="product-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, necessitatibus!</div>
                              </div><!-- End product-desc -->
                            </div><!-- End Card Body -->
                        </a>
                    </div><!-- End Card --> 
                </slide>

            </carousel>
        </div>
    </div>

<!-- card-group-1.vue -->
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';

export default {
    components: {
    Carousel,
    Slide
  },
  data: 
    function() {
        return  {
            autoplay: true,
            perPage: 3,
        }
    },
}
</script>


<style scoped lang='scss'>
/* ---------- Title Section ---------- */
.section-title {
    h3 {
        color: #ffdc12;
        display: inline-block;
        line-height: 19px;
        margin-bottom: 7px;
        position: relative; 
        text-transform: uppercase;
        &:before {
            background: #ffdc12 none repeat scroll 0 0;
            bottom: -19px;
            content: "";
            height: 1px;
            right: 0;
            position: absolute;
            width: 40%;
        }
        &:after {
            background: #ffdc12 none repeat scroll 0 0;
            bottom: -19px;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            width: 40%;
        }
    }
    .section-icon {
        color: #ffdc12;
    }
}

/* ----------- Blog Carousel ---------- */
figure {
	width: 344px;
	height: 180px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
    &:before {
        background: #000;
        bottom: 0;
        content: "";
        height: 180px;
        width: 344px;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 300ms ease-in-out 0s;
        visibility: hidden;
        z-index: 1;
    }   
}
.card {
  margin: 20px auto;
  max-width: 344px;
  border: none;
}
.card a {
    text-decoration: none;
    img {
        transition: transform 0.35s ease 0s;
    }
    &:hover {
        figure:before {
            opacity: .3;
            visibility: visible;
        }
        img {
           -webkit-transform: scale(1.1);
	        transform: scale(1.1);
	        -webkit-transition: 0.35s ease 0s;
	        transform: 0.35s ease 0s; 
        }
    }
}
.card-head {
  position: relative;
  height: 180px;
    .product-img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
.card-body {
    height: 140px;
    background: #fff;
    padding: 20px 0;
}
.product-title {
    padding: 0px 20px 5px 0px;
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
}
.product-date {
    color: #333;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8;
    text-align: left;
    font-family: 'Poppins', sans-serif;

}
.product-caption {
    display: block;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    text-align: left;
    color: #666;
    font-family: 'Poppins', sans-serif;
}

.product-price {
    padding: 15px 20px;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    float: left;
}


/* ---------- MEDIA QUERY ---------- */
@media (max-width: 1199px) and (min-width: 992px) {
    .card-body {
      padding: 0px;
    }
    .old-price:before {
      bottom: 42px;
      left: 40px;
    }
    .quick-icon .ul-color li {
      margin: 10px 8px;
    }
    .product-color {
      bottom: 245px;
      right: 15px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .quick-icon .ul-color li {
      margin: 10px 8px;
    }
    .product-color {
      bottom: 225px;
      right: 35px;
    }
}

</style>
