<template>
<div id="main-section">
  <div class="container">
  <table class="table table is-bordered is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Broj</th>
      <th>Početni datum</th>
      <th>Završni datum</th>
      <th>Naša stranka</th>
      <th>Druga stranka</th>
      <th>Vrsta</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="predmet in predmeti" :key="predmet.id" :predmet="predmet" :class="{'is-selected':predmet == selected}" @click="selected = predmet">
      <th>{{ predmet.brojPredmeta }}</th>
      <td>{{ predmet.pocetniDatum }}</td>
      <td>{{ predmet.zavrsniDatum }}</td>
      <td>{{ predmet.nasaStranka }}</td>
      <td>{{ predmet.drugaStranka }}</td>
      <td>{{ predmet.vrstaPredmeta }}</td>
    </tr>
  </tbody>
</table>
</div>
<div id="addPredmet" class="container">
      <h1>Dodavanje novog predmeta:</h1>
        <div class="columns is-desktop">
            <div class="column">
                <div class="field">
                    <label class="label">Broj predmeta:</label>
                    <div class="control has-icons-left has-icons-right">
                        <input v-model.lazy="novBrojPredmeta" class="input" type="text" placeholder="123" value="">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Početni datum:</label>
                     <div class="control has-icons-left has-icons-right">
                        <input v-model="novPocetniDatum" class="input" type="text" placeholder="" value="">
                        <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Završni datum:</label>
                     <div class="control has-icons-left has-icons-right">
                        <input v-model="novZavrsniDatum" class="input" type="text" placeholder="" value="">
                        <span class="icon is-small is-left">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Naša stranka:</label>
                     <div class="control has-icons-left has-icons-right">
                        <input v-model="novaNasaStranka" class="input" type="text" placeholder="" value="">
                        <span class="icon is-small is-left">
                           <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Druga stranka:</label>
                    <div class="control has-icons-left has-icons-right">
                        <input v-model="novaDrugaStranka"  class="input" type="text" placeholder="" value="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Vrsta predmeta:</label>
                     <div class="control has-icons-left has-icons-right">
                        <input v-model="novaVrstaPredmeta"  class="input" type="text" placeholder="" value="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-file-alt"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Napomena:</label>
                    <div class="control">
                        <textarea v-model="novaNapomena" class="textarea" placeholder=""></textarea>
                    </div>
                </div>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input v-model="novStatusPredmeta" id="aktivan" value="Aktivan" type="radio">
                      Aktivan
                    </label>
                    <label class="radio">
                      <input v-model="novStatusPredmeta" id="arhiviran" value="Arhiviran" type="radio">
                      Arhiviran
                    </label>
                  </div>
                </div>
                <a class="button is-info is-outlined" @click="addPredmet()">
                    <span class="icon is-small">
                        <i class="fas fa-check"></i>
                    </span>
                    <span>Sačuvaj</span>
                </a>
                <a class="button is-danger is-outlined">
                    <span>Odustani</span>
                    <span class="icon is-small">
                        <i class="fas fa-times"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="columns is-desktop">
          Preview:
          <div class="column" v-for="predmet in predmeti" :key="predmet.id">
            <h3>Broj predmeta: {{ predmet.brojPredmeta }} </h3>
            <h3>Pocetni datum: {{ predmet.pocetniDatum }}</h3>
            <h3>Zavrsni datum: {{ predmet.zavrsniDatum }}</h3>
            <h3>Nasa stranka: {{ predmet.nasaStranka }}</h3>
            <h3>Druga stranka: {{ predmet.drugaStranka }}</h3>
            <h3>Vrsta predmeta: {{ predmet.vrstaPredmeta }}</h3>
            <h3>Napomena: {{ predmet.napomena }}</h3>
            <h3>Status predmeta: {{ predmet.statusPredmeta }}</h3>
          </div>
        </div>
    </div>
</div>
</template>

<script>
import AddPredmet from './AddPredmet';

export default {
  name: 'predmet-list',
  components: {
    AddPredmet
  },
  props: {
     selected: {
       default: false
     }
   },
  data () {
    return {
      novBrojPredmeta: "",
      novPocetniDatum: "",
      novZavrsniDatum: "",
      novaNasaStranka: "",
      novaDrugaStranka: "",
      novaVrstaPredmeta: "",
      novaNapomena: "",
      novStatusPredmeta: "",
      predmeti: [
      {
        'brojPredmeta': 1,
        'pocetniDatum': 2016,
        'zavrsniDatum': 2017,
        'nasaStranka': 'Marko Markovic',
        'drugaStranka': 'Petar Peric',
        'vrstaPredmeta': 'Krivicno'
      }
    ]
    }

  },
  methods: {
    addPredmet() {
      this.predmeti.push({
        brojPredmeta: this.novBrojPredmeta,
        pocetniDatum: this.novPocetniDatum,
        zavrsniDatum: this.novZavrsniDatum,
        nasaStranka: this.novaNasaStranka,
        drugaStranka: this.novaDrugaStranka,
        vrstaPredmeta: this.novaVrstaPredmeta,
        napomena: this.novaNapomena,
        statusPredmeta: this.novStatusPredmeta
      });
      this.novBrojPredmeta = "";
      this.novPocetniDatum = "";
      this.novZavrsniDatum = "";
      this.novaNasaStranka = "";
      this.novaDrugaStranka = "";
      this.novaVrstaPredmeta = "";
      this.novaNapomena = "";
      this.novStatusPredmeta = "";
    }
  }
}
</script>

<style lang="scss" scoped>
#main-section {
    margin-top: 60px;
}
  table {
    min-width: 100%;
  }
  thead {
    border-bottom: 2px solid #dbdbdb;
  }
  // .startDate {
  //     background-color: aqua;
  // }
</style>
