<template>
<div id="main-section">
  <div class="container">
  <table class="table table is-bordered is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Broj</th>
      <th>Početni datum</th>
      <th>Završni datum</th>
      <th>Naša stranka</th>
      <th>Druga stranka</th>
      <th>Vrsta</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>


      <add-predmet v-for="(predmet, index) in predmeti" :key="predmet.id" :predmet="predmet" :index="index" :class="{'is-selected':predmet == selected}" @click="selected = predmet">

      </add-predmet>
      <tr v-for="(predmet, index) in predmeti" :key="predmet.id" :predmet="predmet" :index="index" :class="{'is-selected':predmet == selected}" @click="selected = predmet">
      <th>{{ predmet.brojPredmeta }}</th>
      <td>{{ predmet.pocetniDatum }}</td>
      <td>{{ predmet.zavrsniDatum }}</td>
      <td>{{ predmet.nasaStranka }}</td>
      <td>{{ predmet.drugaStranka }}</td>
      <td>{{ predmet.vrstaPredmeta }}</td>
      <td><span @click="isActive = predmet" class="edit-predmet"><i class="far fa-edit"></i></span></td>
      <td><span @dblclick="removePredmet(index)" class="remove-predmet"><i class="fas fa-trash-alt"></i></span></td>

      <!-- <modal :class="{'is-active':predmet == isActive}" class="modal"></modal> -->
      <div v-if="showModal = true" :class="{'is-active':predmet == isActive}" class="modal">
        <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Modal title</p>
              <button @click="showModal = false" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <!-- Content ... -->
            </section>
            <footer class="modal-card-foot">
              <button class="button is-success">Save changes</button>
              <button class="button">Cancel</button>
            </footer>
        </div>
      </div>
    </tr>
  </tbody>
</table>

</div>
<div id="addPredmet" class="container">
  <h1>Dodavanje novog predmeta:</h1>
    <div class="columns is-desktop">
      <div class="column">
        <div class="field">
            <label class="label">Broj predmeta:</label>
            <div class="control has-icons-left has-icons-right">
                <input v-model.lazy="novBrojPredmeta" class="input" type="text" placeholder="123" value="">
            </div>
        </div>
        <div class="field">
            <label class="label">Početni datum:</label>
             <div class="control has-icons-left has-icons-right">
                <input v-model="novPocetniDatum" class="input" type="text" placeholder="" value="">
                <span class="icon is-small is-left">
                    <i class="far fa-calendar-alt"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Završni datum:</label>
             <div class="control has-icons-left has-icons-right">
                <input v-model="novZavrsniDatum" class="input" type="text" placeholder="" value="">
                <span class="icon is-small is-left">
                    <i class="far fa-calendar-alt"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Naša stranka:</label>
             <div class="control has-icons-left has-icons-right">
                <input v-model="novaNasaStranka" class="input" type="text" placeholder="" value="">
                <span class="icon is-small is-left">
                   <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Druga stranka:</label>
            <div class="control has-icons-left has-icons-right">
                <input v-model="novaDrugaStranka"  class="input" type="text" placeholder="" value="">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Vrsta predmeta:</label>
             <div class="control has-icons-left has-icons-right">
                <input v-model="novaVrstaPredmeta"  class="input" type="text" placeholder="" value="">
                <span class="icon is-small is-left">
                    <i class="fas fa-file-alt"></i>
                </span>
            </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
            <label class="label">Napomena:</label>
            <div class="control">
                <textarea v-model="novaNapomena" class="textarea" placeholder=""></textarea>
            </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="radio">
              <input v-model="novStatusPredmeta" id="aktivan" value="Aktivan" type="radio">
              Aktivan
            </label>
            <label class="radio">
              <input v-model="novStatusPredmeta" id="arhiviran" value="Arhiviran" type="radio">
              Arhiviran
            </label>
          </div>
        </div>
        <a class="button is-info is-outlined" @click="addPredmet()">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Sačuvaj</span>
        </a>
        <a class="button is-danger is-outlined">
            <span>Odustani</span>
            <span class="icon is-small">
                <i class="fas fa-times"></i>
            </span>
        </a>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import AddPredmet from './AddPredmet';
import Modal from './Modal';

export default {
  name: 'predmet-list',
  components: {
    AddPredmet,
    Modal
  },
  props: {
     selected: {
       default: false
     },
     isActive: {
       default: false
     },
   },
  data () {
    return {
      novBrojPredmeta: "",
      novPocetniDatum: "",
      novZavrsniDatum: "",
      novaNasaStranka: "",
      novaDrugaStranka: "",
      novaVrstaPredmeta: "",
      novaNapomena: "",
      novStatusPredmeta: "",
      showModal: false,
      predmeti: [
      {
        'brojPredmeta': 1,
        'pocetniDatum': 2016,
        'zavrsniDatum': 2017,
        'nasaStranka': 'Marko Markovic',
        'drugaStranka': 'Petar Peric',
        'vrstaPredmeta': 'Krivicno'
      },
      {
        'brojPredmeta': 2,
        'pocetniDatum': 2017,
        'zavrsniDatum': 2017,
        'nasaStranka': 'Ivan Ivanic',
        'drugaStranka': 'Sima Simic',
        'vrstaPredmeta': 'Krivicno'
      },
      {
        'brojPredmeta': 3,
        'pocetniDatum': 2017,
        'zavrsniDatum': 2018,
        'nasaStranka': 'Zivadin Zivko',
        'drugaStranka': 'Krictina Kristic',
        'vrstaPredmeta': 'Prekrsaj'
      }
    ]
    }

  },
  methods: {
    addPredmet() {
      this.predmeti.push({
        brojPredmeta: this.novBrojPredmeta,
        pocetniDatum: this.novPocetniDatum,
        zavrsniDatum: this.novZavrsniDatum,
        nasaStranka: this.novaNasaStranka,
        drugaStranka: this.novaDrugaStranka,
        vrstaPredmeta: this.novaVrstaPredmeta,
        napomena: this.novaNapomena,
        statusPredmeta: this.novStatusPredmeta
      });
      this.novBrojPredmeta = "";
      this.novPocetniDatum = "";
      this.novZavrsniDatum = "";
      this.novaNasaStranka = "";
      this.novaDrugaStranka = "";
      this.novaVrstaPredmeta = "";
      this.novaNapomena = "";
      this.novStatusPredmeta = "";
    },
    editPredmet(predmet) {
      console.log('edit predmet');
    },
    removePredmet(index) {
      this.predmeti.splice(index, 1);
    },
    closeModal(e) {

    }
  },
  computed: {
    compClasses() {
      return {
        isActive: this.isActive
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#main-section {
    margin-top: 60px;
}
  table {
    min-width: 100%;
  }
  thead {
    border-bottom: 2px solid #dbdbdb;
  }
  th {
    text-align: center;
  }
  .remove-predmet, .edit-predmet {
    cursor: pointer;
  }

</style>
