<template>
  <div id="predmetDetails">Predmet Details</div>
</template>

<script>
export default {
  name: 'predmet-details',
  data () {
    return {

    }
  },
}
</script>

<style lang="scss" scoped>

</style>
