<template>
  <div id="app">
    <Header/>
    <router-view></router-view>
    <Footer />
  </div>
</template>

<script>
import Header from './layout/Header.vue'
import Footer from './layout/Footer.vue'

export default {
  name: 'app',
  components: {
    Header,
    Footer
  }
}
</script>

<style>
#app {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-size: contain;
  background-repeat: no-repeat;
}
li {
  list-style: none;
}
ul {
  padding-left: 0;
}
</style>
