<template>
  <div id="aboutUs">
    <div class="gradient-div"></div>
     <section class="about-img-area">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <h1>Saznajte više o nama</h1>
                  </div>
              </div>
          </div>
      </section>
      <div class="container about-main">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="wrapp-about-text text-left">
                    <h5>Zašto baš <strong> Izgled?</strong></h5>
                    <p>
                        Na osnovu dugogodišnjeg iskustva koje datira od 1994. godine, firma proizvodnja nameštaja „IZGLED” 
                        RUSKI KRSTUR ostvaruje visoke rezultate u  radu i pruža mogućnost svojim klijentima da svaku 
                        njihovu želju i ideju sprovede u delo.
                    </p>
                    <ul>
                        <li><i class="fas fa-check"></i>24 godina iskustva, iskusni i obučeni radnici</li>
                        <li><i class="fas fa-check"></i>Stalne inovacije i stručnost u radu</li>
                        <li><i class="fas fa-check"></i>Profesionalno savetovanje i 3D prikaz vaših ideja</li>
                        <li><i class="fas fa-check"></i>Veliki izbor materijala, dezena i boja</li>
                        <li><i class="fas fa-check"></i>Garancija kvaliteta i kratki rokovi isporuke</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="wrapp-about-img">
                    <img src="https://images.pexels.com/photos/76786/nikon-2015-wasylko-stolarnia-76786.jpeg?auto=compress&cs=tinysrgb&h=350" alt="izgled">
                </div>
            </div>
        </div>
        <div class="row text-left my-5">
            <div class="col-12 wrapp-about-text">
                <p>
                    Naši vrhunski dizajneri su spremni da vam u svakom trenutku pruže pomoć u realizaciji vaših ideja pri opremanju prostora u kojem živite.
                </p>
                <p>
                    Takođe, naši iskusni majstori su neizostavna karika u lancu proizvodnje nameštaja i ispunjavanja svake vaše želje i ideje.
                    Kvalitetnim mašinama i opremom sa kojima raspolažemo, nudimo vam visok kvalitet proizvedenog nameštaja. 
                    Naše proizvode možete videti u katalogu i salonu, sastavnom delu firme, a koji se nalazi u Ruskom Krsturu, u ulici Ive Lole Ribara 107.
                </p>
                <p>
                    Nameštaj izrađujemo od univera, sjajnog i farbanog medijapana i drveta.
                </p>
                 <p>
                    Osim proizvodnje nameštaja, nudimo vam i uslužno sečenje iverice po vašoj meri i želji. Takođe, 
                    vršimo sve vrste zanatskih radova prilikom opremanja životnog prostora
                    Verujemo da su ovo dovoljni razlozi zbog kojih ćete izabrati firmu „IZGLED” RUSKI KRSTUR za kreiranje vašeg nameštaja. 
                    Sa punim poverenjem, prepustite nam celokupno renoviranje vašeg stana ili kuće, uz izradu nameštaja po želji!
                </p>
            </div>
        </div>

        <!-- Company in numbers -->
        <section class="company-in-number">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="single-company-number">
                        <div class="in-number">
                            <i class="fas fa-couch"></i>
                            <h4>+1000</h4>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="single-company-number">
                        <div class="in-number">
                            <i class="fas fa-building"></i>
                            <h4>+1000</h4>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="single-company-number">
                        <div class="in-number">
                            <i class="fas fa-pencil-alt"></i>
                            <h4>+1000</h4>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="single-company-number">
                        <div class="in-number">
                            <i class="fas fa-hand-holding-heart"></i>
                            <h4>+1000</h4>
                        </div>
                        <h5>Lorem ipsum dolor sit amet</h5>
                    </div>
                </div>
            </div>
        </section>

        <!-- Members area -->
        <div class="row company-member-area">
            <div class="about-sect-head col-12">
                <h3 class="company-member">Članovi našeg tima na raspologanju</h3>
                <p>Za sve informacije i pitanja obratite se našem stručnom timu.</p>
                <div class="section-icon">
                    <i class="far fa-dot-circle"></i>
                </div>
            </div>

            <!-- Member -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single-member">
                    <div class="member-img"><img src="https://devitems.com/html/tasnm-preview/tasnm/img/about/member2.jpg" alt="">
                        <div class="member-title">
                            <h2>Mitar Miric</h2>
                            <h3>Ceo Founder</h3>
                        </div>
                    </div>
                    <div class="member-info">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p> -->
                        <div class="member-social">
                            <a class="m-facebook" href="#"><i class="far fa-envelope"></i></a>
                            <a class="m-facebook" href="#"><i class="fas fa-mobile-alt"></i></a>
                            <a class="m-facebook" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="m-facebook" href="#"><i data-v-40ab164b="" class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Member -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single-member">
                    <div class="member-img"><img src="https://devitems.com/html/tasnm-preview/tasnm/img/about/member2.jpg" alt="">
                        <div class="member-title">
                            <h2>Mitar Miric</h2>
                            <h3>Ceo Founder</h3>
                        </div>
                    </div>
                    <div class="member-info">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p> -->
                        <div class="member-social">
                            <a class="m-facebook" href="#"><i class="far fa-envelope"></i></a>
                            <a class="m-facebook" href="#"><i class="fas fa-mobile-alt"></i></a>
                            <a class="m-facebook" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="m-facebook" href="#"><i data-v-40ab164b="" class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Member -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single-member">
                    <div class="member-img"><img src="https://devitems.com/html/tasnm-preview/tasnm/img/about/member2.jpg" alt="">
                        <div class="member-title">
                            <h2>Mitar Miric</h2>
                            <h3>Ceo Founder</h3>
                        </div>
                    </div>
                    <div class="member-info">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p> -->
                        <div class="member-social">
                            <a class="m-facebook" href="#"><i class="far fa-envelope"></i></a>
                            <a class="m-facebook" href="#"><i class="fas fa-mobile-alt"></i></a>
                            <a class="m-facebook" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="m-facebook" href="#"><i data-v-40ab164b="" class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Member -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <div class="single-member">
                    <div class="member-img"><img src="https://devitems.com/html/tasnm-preview/tasnm/img/about/member2.jpg" alt="">
                        <div class="member-title">
                            <h2>Mitar Miric</h2>
                            <h3>Ceo Founder</h3>
                        </div>
                    </div>
                    <div class="member-info">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p> -->
                        <div class="member-social">
                            <a class="m-facebook" href="#"><i class="far fa-envelope"></i></a>
                            <a class="m-facebook" href="#"><i class="fas fa-mobile-alt"></i></a>
                            <a class="m-facebook" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="m-facebook" href="#"><i data-v-40ab164b="" class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
      </div>
  </div>
</template>

<script>


export default {
  name: 'AboutUs',
  components: {
    
  }
}
</script>

<style lang="scss" scopes>
    #aboutUs {
        min-height: 500px;
    }
    .about-img-area {
        background-image: url('../../public/aboutUs-header.jpg');
        padding: 200px 0 100px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        position: relative;
        &:before {
            background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        h1 {
            color: #fff;
            font-size: 40px;
            font-style: normal;
            font-weight: normal;
            line-height: 40px;
            margin: 0;
            opacity: 1;
            padding: 0;
            text-transform: uppercase;
        }
    }
    .about-main {
        margin: 90px auto;
    }
    .wrapp-about-img img {
        width: 100%;
    }
    .wrapp-about-text {
        h5 {
            font-size: 32px;
            line-height: 1.2;
            font-weight: 600;
            margin-bottom: 15px;
            margin-top: -6px;
            color: #131313;
            strong {
                border-bottom: 1px solid #ffdc12;
                color: #ffdc12;
                line-height: 1.2;
                font-weight: 600;
                margin-bottom: 15px;
                margin-top: -6px;
            }
        }
        p {
            color: #666;
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            word-spacing: 2px;
        }
        ul li {
            border-top: 1px solid #ddd;
            color: 22252C;;
            display: block;
            font-size: 13px;
            line-height: 24px;
            padding: 10px 20px 10px 0;
            position: relative;
            i { margin-right: 10px; }
        }
    }
    /* ----------- Company in Numbers ---------- */
    .company-in-number {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 40px 0 10px;
        margin: 40px 0;
        // background: #f7f7f7 none repeat scroll 0 0;
        .single-company-number {
            .in-number h4{
                display: inline-block;
                padding-left: 20px;
            }
            i {
                border: 1px solid #666;
                border-radius: 50%;
                font-size: 30px;
                height: 50px;
                line-height: 50px;
                margin-bottom: 30px;
                width: 50px;
                color: #131313;
                transition: all 0.3s ease 0s;
            }
            h5 {
                text-transform: uppercase;
                font-size: 16px;
                color: #131313;
            }
            &:hover {
                i {
                    background: #ffdc12;
                    border: 1px solid #ffdc12;
                    color: #fff;
                }
            }
        }
    }

    /* ----------- Member Section ---------- */
    .company-member-area {
        margin: 70px 0;
    }
    .about-sect-head {
        margin-bottom: 40px;
        text-align: center;
        h3 {
            font-size: 32px;
            font-weight: 300;
            line-height: 40px;
            margin-bottom: 20px;
            margin-top: 0;
            text-transform: uppercase;
            font-weight: 500;
            color: #ffdc12;
        }
        p {
            color: #8c8c8c;
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            word-spacing: 2px;
            position: relative;
            display: inline-block;
            &:before {
                background: #ffdc12 none repeat scroll 0 0;
                bottom: -27px;
                content: "";
                height: 1px;
                right: 0;
                position: absolute;
                width: 40%;
            }
            &:after {
                background: #ffdc12 none repeat scroll 0 0;
                bottom: -27px;
                content: "";
                height: 1px;
                left: 0;
                position: absolute;
                width: 40%;
            }
        }
        .section-icon {
            color: #ffdc12;
        }
    }

    /* ---------- Single Member ---------- */
    .single-member {
        .member-img {
            position: relative;
            overflow: hidden;
            img {width: 100%; }
            .member-title {
                background: rgba(19, 19, 19, 0.7) none repeat scroll 0 0;
                display: block;
                left: 0;
                overflow: hidden;
                padding: 5px 10px;
                position: absolute;
                transition: all 0.3s ease 0s;
                width: 100%;
                bottom: -70px;
                color: #fff;
                text-align: left;
                h2 {
                    color: #fff;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 28px;
                    margin: 0;
                    text-transform: capitalize; 
                }
                h3 {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 28px;
                    margin: 0;
                }
            }
             &:hover {
                .member-title {
                    bottom: 0px;
                }
            }
        }
        .member-info {
            border-color: #ddd;
            border-style: solid;
            border-width: 0 1px 1px;
            padding-bottom: 20px;
            padding-top: 20px;
            p {
                color: #8c8c8c;
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
                word-spacing: 2px;
            }
            .member-social {
                text-align: center;
                a {
                    color: #fff;
                    background: #131313;
                    display: inline-block;
                    font-size: 14px;
                    height: 30px;
                    line-height: 30px;
                    margin-left: 2px;
                    margin-right: 2px;
                    text-align: center;
                    transition: all 0.3s ease 0s;
                    width: 30px;
                    border: 1px solid #131313;
                    border-radius: 50%;
                    &:hover {
                        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
                        transform: translate3d(0, 0, 0);
                        backface-visibility: hidden;
                        perspective: 1000px;
                    }
                }
            }
        }
           
    }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1.5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1.5px, 0, 0);
  }
}


/* ---------- MEDIA QUERY ---------- */
@media (min-width: 1200px) {

}
@media (max-width: 1199px) and (min-width: 992px) {

}
@media (max-width: 991px) and (min-width: 768px) {
    .about-main { margin: 0 auto; }
    .wrapp-about-text h5 {
        text-align: center;
        margin: 40px 0;
    }
    .single-member {
        padding: 20px 40px;
    }

}
@media (max-width: 767px) {
    .about-main { margin: 0 auto; }
    .wrapp-about-text h5 {
        text-align: center;
        margin: 40px 0;
    }
    .single-member {
        margin: 20px 0;
        .member-img {
            overflow: visible;
            img {
                width: 100%;
            }
            .member-title {
                bottom: 0;
                text-align: center;
                h2 { font-size: 16px; }
                h3 { 
                    line-height: 16px; 
                    font-size: 14px;
                }
            }
        }
        
    }
}
@media (max-width: 576px) {
    // .about-main { margin: 0 auto; }
    .single-member {
        .member-img {
            overflow: visible;
            &:hover { 
                .member-title { bottom: -54px; }
            }
            .member-title { 
                bottom: -54px;
                background: #131313;
            }
        }
        .member-info {
            padding-top: 70px;
        }
    }
}

@media (max-width: 385px) {
    .single-member .member-info {
        padding-top: 55px;
        padding-bottom: 0px;
        .member-social a {
            background: #fff;
            border: none;
            color: #131313;
            width: 24px;
        }
    }
    .single-member .member-img .member-title h2 {
        font-size: 14px;
    }
    .single-member .member-img .member-title h3 {
    font-size: 12px;
}
}

</style>
