<template>
  <div id="home">
    <Carousel />
    <Collection />
    <FeaturedProducts />
    <Blog />
  </div>
</template>

<script>
import Carousel from '../components/HomeComponents/Carousel.vue'
import Collection from '../components/HomeComponents/Collection.vue'
import FeaturedProducts from '../components/HomeComponents/FeaturedProducts.vue'
import Blog from '../components/HomeComponents/Blog.vue'

export default {
  name: 'Home',
  components: {
    Carousel,
    Collection,
    FeaturedProducts,
    Blog,
  }
}
</script>

<style style"scss" scope>

</style>
