<template>
  <div id="Login">
     <section class="login-img-area"></section>
      <div class="container login-main">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="wrapp-login text-left">
                    <h5>Moj nalog</h5>
                    <hr>
                    <form class="login-form"> 
                        <div class="row">
                            <div class="col-md-12 my-1">
                                <label class="sr-only" for="inlineFormInputName">Username</label>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="col-md-12 my-1">
                                <label class="sr-only" for="inlineFormInputName">Password</label>
                                <input type="text" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2 login-btn">Log in</button>
                        </form>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="wrapp-logo-img">
                    <img src="../../public/izgled-logo-zuti.jpg" alt="izgled">
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>


export default {
  name: 'Login',
  components: {
    
  }
}
</script>

<style lang="scss" scope>
    .login-img-area {
        background-color: #131313;
        padding: 35px 0 100px;
    }
    .login-main {
        margin: 87.5px auto;
        .left-text {
            padding-top: 45px;
        }
    }
    .wrapp-logo-img img {
        width: 100%;
        max-width: 350px;
    }
    .wrapp-login {
        h5 {
            font-size: 32px;
            line-height: 1.2;
            font-weight: 600;
            margin-bottom: 15px;
            margin-top: -6px;
            color: #131313;
            strong {
                border-bottom: 1px solid #ffdc12;
                color: #ffdc12;
                line-height: 1.2;
                font-weight: 600;
                margin-bottom: 15px;
                margin-top: -6px;
            }
        }
        p {
            color: #666;
            font-size: 14px;
            font-weight: normal;
            line-height: 20px;
            word-spacing: 2px;
        }
        ul li {
            border-top: 1px solid #ddd;
            color: 22252C;;
            display: block;
            font-size: 13px;
            line-height: 24px;
            padding: 10px 20px 10px 0;
            position: relative;
            i { margin-right: 10px; }
        }
    }

    .login-btn {
        background: #222;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0px;
        margin-top: 5px;
        border-color: #000;
        font-size: 14px;
        width: 110px;
        &:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        &:hover {
            background: #ffdc12;
            border-color: #ffdc12;
        }
    }

.login-form {
    input::-webkit-input-placeholder { font-size: 13px; }
    input::-moz-placeholder { font-size: 13px; }
    input::-ms-input-placeholder { font-size: 13px; }

    textarea::-webkit-input-placeholder { font-size: 13px; }
    textarea::-moz-placeholder { font-size: 13px; }
    textarea::-ms-input-placeholder { font-size: 13px; }

    .form-control {
        margin: 5px 0;
        border-radius: 0px !important;
        &:focus {
            border-color: #ffdc12;
            box-shadow: none;
        }
    } 
}

#backToTop {
    display: none;
}

/* ---------- MEDIA QUERY ---------- */
@media (min-width: 1200px) {

}
@media (max-width: 1199px) and (min-width: 992px) {

}
@media (max-width: 991px) and (min-width: 768px) {
    .about-main { margin: 0 auto; }
    .wrapp-about-text h5 {
        text-align: center;
        margin: 40px 0;
    }
    .single-member {
        padding: 20px 40px;
    }

}
@media (max-width: 767px) {
    .about-main { margin: 0 auto; }
    .wrapp-about-text h5 {
        text-align: center;
        margin: 40px 0;
    }
    .single-member {
        margin: 20px 0;
        .member-img {
            overflow: visible;
            img {
                width: 100%;
            }
            .member-title {
                bottom: 0;
                text-align: center;
                h2 { font-size: 16px; }
                h3 { 
                    line-height: 16px; 
                    font-size: 14px;
                }
            }
        }
        
    }
}


</style>
